<!DOCTYPE html>
<!-- 仅作为模板使用,服务端不要直接返回 -->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/static/i/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="/static/i/app-icon72x72@2x.png">
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <link rel="stylesheet" href="/static/css/amazeui.min.css" />
        <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css" />
        <link rel="stylesheet" href="/static/css/app.css">
        <script src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div style="margin-top: 5%" th:include="this :: content"></div>
        </div>
    </body>
</html>